
@keyframes glow-border {
    0% {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}
.container__img > img{
    display: flex;
    border-radius: 100%;
    cursor: pointer;
    border: 0.5px solid rgba(0, 123, 255, 0.5);
    animation: glow-border 3.5s infinite ease-in-out;
   margin-top: 5px;
}
