header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.content{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
