@media (max-width: 768px) {
    header {
        display: flex;
        gap: 40px;
        flex-direction: column-reverse;
    }
    .content {
        margin-top: 40px;
        height: auto; 
        gap: 30px; 
        
    }
    .container__body{
        display: flex;
        flex-direction: column;
        gap: 280px;
       
    }
}
