@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column-reverse;
    }
    .content {
        height: auto; 
        gap: 25px; 
    }
    .container__body{
        display: flex;
        flex-direction: column;
        gap: 250px;
    }
}
