
.menu-hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 230px;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  
  .menu-hamburger .bar {
    width: 30px;
    height: 5px;
    background-color: #EAEAEA;
    border-radius: 5px;
  }


  /* Estilos Responsivos */
  @media (max-width: 768px) {
    .container__menu-bar > ul {
      display: none; /* Esconde o menu tradicional */
      width: 60%; 
      flex-direction: column; 
      gap: 40px;
      background-color:#1E1E1E; 
      position: fixed; 
      top: 0;
      left: 0;
      height: 100%; 
      z-index: 1000; 
      opacity: 0; 
      visibility: hidden; 
      transition: opacity 0.3s ease, visibility 0s 0.3s; /* Animação de desvanecimento */
    }
  
    .container__menu-bar > ul.show {
      display: flex; 
      text-align: center;
      justify-content: center;
      background-color: #1E1E1E;
      opacity: 1; /* Torna o menu visível */
      visibility: visible; /* Torna o menu visível */
      transition: opacity 0.3s ease, visibility 0s 0s; /* Remove o delay de visibilidade */
    }

    .container__menu-bar ul > li {
      margin-left: 50px;
      background-color: #1E1E1E;  
      font-weight: bold;
    
    }
     
    .container__menu-bar ul > li > a {
      background-color: #1E1E1E;
    }
  
    .menu-hamburger {
      display: flex; 
    }

    .close__menu {
      position: absolute;
      top: 20px;
      right: 20px;
      background: none;
      border: none;
      color: white;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    .close__menu:hover {
      color: red;
    }

}